/* App.css */

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f4f7fc;
}

/* Navbar */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #1e293b;
  padding: 15px 40px;
}

.navbar h1 {
  color: white;
  margin: 0;
}

.navbar div {
  display: flex;
  gap: 20px;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  transition: 0.3s;
}

.navbar a:hover {
  color: #38bdf8;
}

/* Pages */

.container {
  width: 400px;
  margin: 50px auto;
  background: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 4px 15px rgba(0,0,0,0.1);
}

.container h2 {
  text-align: center;
  margin-bottom: 20px;
}

/* Form */

.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form input {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 15px;
}

.form input:focus {
  outline: none;
  border-color: #2563eb;
}

.form button {
  padding: 12px;
  border: none;
  background: #2563eb;
  color: white;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.form button:hover {
  background: #1d4ed8;
}

/* About & Contact */

.page {
  text-align: center;
  margin-top: 80px;
  font-size: 22px;
  color: #1e293b;
  line-height: 40px;
}


.text{
  color:red;
  text-align: center;
}